numpy
pandas
matplotlib
seaborn
opencv-python-headless
pillow
tensorflow
gradio
fpdf
keras

aiofiles==23.2.1
anyio==3.7.1
fastapi==0.112.2
ffmpy==0.4.0
gradio-client==1.3.0
httpx==0.27.2
huggingface-hub==0.23.5
importlib-resources==6.4.4
jinja2==3.1.4
markupsafe==2.1.5
matplotlib==3.7.1
numpy==1.26.4
orjson==3.10.7
packaging==24.1
pandas==2.1.4
pillow==9.4.0
pydantic==2.8.2
pydub==0.25.1
python-multipart==0.0.9
pyyaml==6.0.2
ruff==0.6.2
semantic-version==2.10.0
tomlkit==0.12.0
typer==0.12.4
typing-extensions==4.12.2
urllib3==2.0.7
uvicorn==0.30.6
fsspec==2024.6.1
websockets==12.0
idna==3.7
sniffio==1.3.1
exceptiongroup==1.2.2
certifi==2024.7.4
httpcore==1.0.5
h11==0.14.0
filelock==3.15.4
requests==2.32.3
tqdm==4.66.5
contourpy==1.2.1
cycler==0.12.1
fonttools==4.53.1
kiwisolver==1.4.5
pyparsing==3.1.2
python-dateutil==2.8.2
pytz==2024.1
tzdata==2024.1
annotated-types==0.7.0
pydantic-core==2.20.1
click==8.1.7
shellingham==1.5.4
rich==13.7.1
markdown-it-py==3.0.0
pygments==2.16.1
charset-normalizer==3.3.2
mdurl==0.1.2
